version: "3.9"

services:
  mongo:
    image: mongo:4.4.18
    container_name: mongo_db
    restart: always
    environment:
      - MONGO_INITDB_DATABASE=muqeetdb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: backend_app
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend_app
    restart: always
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  mongo_data:

